# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv/
env/
venv/
*.yaml

# PyInstaller
*.spec

# Virtualenv
*.egg-info/

# Data
*.npz
*.parquet
data/
original_data/
output/
checkpoints/
*.xlsx
*.csv
*.old
*.txt
*.pkl

# System
.DS_Store
Thumbs.db

# Logs
*.log

#models
*.h5
*.pth
*.ckpt
*.keras
*.joblib
.env
.gitignore
*.json
